/* 

----------- TYPOGRAPHY -----------

FONT SIZES
12px / 16px / 20px / 24px / 32px / 40px

FONT WEIGHTS
400 / 700

LINE HEIGHTS
1.2 / 1.5

LETTER SPACING
0 / -2px

FONT FAMILY
Poppins

----------- COLORS -----------
Primary :
1. Arctic #d0ebff (tint)
2. Sk Blue #339af0 (base color)
3. Deep Sea #1c7ed6 (shade)

Secondary :
1. Moonlight Iris #e5dbff (tint)
2. Lavender #9755fa (base color)
3. Velvet night #7048e8 (shade)

Tertiary :
1. Dawn #ffe8cc (tint)
2. Pumpkin #ff922b (base color)
3. Lava #f76707 (shade)

Grey :
1. Pebble #f1f3f5
2. Slate #495957
3. Graphite #212529









*/



h1 {
    font-weight: 700;
    text-align: center;
    line-height: 1.2;
    letter-spacing: -2px;
    font-size: 62px;
    font-family: "Poppins", sans-serif;
    color: #212529
}

h2 {
    font-weight: 700;
    text-align: center;
    line-height: 1.2;
    letter-spacing: -2px;
    font-size: 48px;
    font-family: "Poppins", sans-serif;
    color: #212529
}

h3 {
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -2px;
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    color: #212529
}

h4 {
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -2px;
    font-size: 32px;
    font-family: "Poppins", sans-serif;
    color: #212529
}

h5 {
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -2px;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    color: #212529
}

p {
    font-weight: 400;
    line-height: 1.5;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    color: #495057;
}

a {
    font-weight: 400;
    text-decoration: none;
    line-height: 1.5;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    color: #495057;
}

ul {
    list-style: none;
}

span {
    color: white;
}